# Kubelet environment options
{% if kubelet_args is defined %}

# Kubelet command line arguments
KUBELET_OPTS=\
{% for k,v in kubelet_args.items() %}
{% if v is boolean and v is sameas true %}
  --{{ k }} {{ "\\" if not loop.last }}
{% else %}
  --{{ k }}={{ v | quote }} {{ "\\" if not loop.last }}
{% endif %}
{% endfor %}
{% endif %}
