# Kubelet environment options
{% if kubelet_args is defined %}

# Kubelet command line arguments
KUBELET_OPTS=\
{% for k,v in kubelet_args.items() %}
  --{{ k }}={{ v | quote }} {{ "\\" if not loop.last }}
{% endfor %}
{% endif %}

{% if calico_image is defined %}
# Calico environment variables
DEFAULT_IPV4={{ private_ipv4 }}
ETCD_AUTHORITY={{ private_ipv4 }}:{{ etcd_client_port }}
KUBERNETES_MASTER={{ kube_apiserver_ip }}
KUBE_API_ROOT=https://{{ kube_apiserver_ip }}:{{ kube_master_port }}/api/v1/
CALICO_IPAM=true
{% endif %}
