{% if calico_image is defined %}
# Calico environment variables
DEFAULT_IPV4={{ private_ipv4 }}
ETCD_AUTHORITY={{ private_ipv4 }}:{{ etcd_client_port }}
KUBERNETES_MASTER={{ kube_apiserver_ip }}
KUBE_API_ROOT=https://{{ kube_apiserver_ip }}:{{ kube_master_port }}/api/v1/
CALICO_IPAM=true
{% endif %}
