upstream masters {
{% for host in master_hosts %}
         server {{ host }};
{% endfor %}
}

server {
        listen 6443;
        server_name {{ ha_master_hostname }};

        location / {
                proxy_pass https://masters;

                proxy_set_header  Host              $http_host;  
                proxy_set_header  X-Real-IP         $remote_addr; 
                proxy_set_header  X-Forwarded-For   $proxy_add_x_forwarded_for;
                proxy_set_header  X-Forwarded-Proto https;
        }
}
