# Managed by Ansible
# kube-proxy environment options
{% if kube_proxy_args is defined %}

# kube-proxy command line arguments
KUBE_PROXY_ARGS=\
{% for k,v in kube_proxy_args.items() %}
{% if v is sameas true %}
  --{{ k }} {{ "\\" if not loop.last }}
{% else %}
  --{{ k }}={{ v | quote }} {{ "\\" if not loop.last }}
{% endif %}
{% endfor %}
{% endif %}

