[crio]

root = "/var/lib/containers/storage"
runroot = "/var/run/containers/storage"
storage_driver = "overlay"
storage_option = []
file_locking = false
file_locking_path="/runc/crio.lock"

[crio.api]

host_ip=""
listen = "/var/run/crio/crio.sock"
stream_address="0.0.0.0"
stream_port = "10010"
stream_enable_tls=false
stream_tls_cert=""
stream_tls_key=""
stream_tls_ca=""

[crio.runtime]

no_pivot = false
conmon = "/usr/local/bin/conmon"
conmon_env = ["PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"]
selinux = false
seccomp_profile = "/etc/crio/seccomp.json"
apparmor_profile = ""
cgroup_manager = "cgroupfs"
default_capabilities  =  [
          "CHOWN",
          "DAC_OVERRIDE",
          "FSETID",
          "FOWNER",
          "NET_RAW",
          "SETGID",
          "SETUID",
          "SETPCAP",
          "NET_BIND_SERVICE",
          "SYS_CHROOT",
          "KILL",
  ]
default_sysctls = []
additional_devices = []
hooks_dir = []
pids_limit = 1024
log_size_max = -1
container_exits_dir = "/var/run/crio/exits"
container_attach_socket_dir = "/var/run/crio"
read_only = false
log_level = "info"
log_dir = "/var/log/crio/pods"
uid_mappings = ""
gid_mappings = ""
ctr_stop_timeout = 10


[crio.image]

default_transport = "docker://"
pause_image = "k8s.gcr.io/pause:3.1"
pause_image_auth_file=""
pause_command = "/pause"
signature_policy = ""
image_volumes = "mkdir"
insecure_registries = []
registries = ["docker.io"]

[crio.network]

network_dir = "/etc/cni/net.d/"
plugin_dir = "/opt/cni/bin/"
