[Unit]
Description=Kubernetes Scheduler
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/bin/kube-scheduler $KUBE_SCHEDULER_ARGS
EnvironmentFile=/etc/default/kube-scheduler
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
