# Managed by Ansible
# kube-scheduler environment options
{% if kube_scheduler_args is defined %}

# kube-scheduler command line arguments
KUBE_SCHEDULER_ARGS=\
{% for k,v in kube_scheduler_args.items() %}
{% if v is sameas true %}
  --{{ k }} {{ "\\" if not loop.last }}
{% else %}
  --{{ k }}={{ v | quote }} {{ "\\" if not loop.last }}
{% endif %}
{% endfor %}
{% endif %}
