# Managed by Ansible
# kube-controller-manager environment options
{% if kube_controller_manager_args is defined %}

# kube-apiserver command line arguments
KUBE_CONTROLLER_MANAGER_ARGS=\
{% for k,v in kube_controller_manager_args.items() %}
{% if v is sameas true %}
  --{{ k }} {{ "\\" if not loop.last }}
{% else %}
  --{{ k }}={{ v | quote }} {{ "\\" if not loop.last }}
{% endif %}
{% endfor %}
{% endif %}
