[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/bin/kube-apiserver $KUBE_APISERVER_ARGS
EnvironmentFile=/etc/default/kube-apiserver
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
