[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/bin/kube-controller-manager $KUBE_CONTROLLER_MANAGER_ARGS
EnvironmentFile=/etc/default/kube-controller-manager
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
