{
  "CN": "{{ admin_csr_cn }}",
  "key": {
    "algo": "{{ admin_csr_key_algo }}",
    "size": {{ admin_csr_key_size }}
  },
  "names": [
    {
      "C": "{{ admin_csr_names_c }}",
      "L": "{{ admin_csr_names_l }}",
      "O": "{{ admin_csr_names_o }}",
      "OU": "{{ admin_csr_names_ou }}",
      "ST": "{{ admin_csr_names_st }}"
    }
  ]
}
