{
  "CN": "{{ node_csr_cn }}{{ kubenode }}",
  "key": {
    "algo": "{{ node_csr_key_algo }}",
    "size": {{ node_csr_key_size }}
  },
  "names": [
    {
      "C": "{{ node_csr_names_c }}",
      "L": "{{ node_csr_names_l }}",
      "O": "{{ node_csr_names_o }}",
      "OU": "{{ node_csr_names_ou }}",
      "ST": "{{ node_csr_names_st }}"
    }
  ]
}
