---
apiVersion: v1
kind: Endpoints
metadata:
  name: dns
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "CoreDNS"
subsets:
- addresses:
{% for member in groups['kubenodes'] %}
  - ip: {{ hostvars[member]['ansible_host'] }}
{% endfor %}
  ports:
  - name: dns
    port: 1053
    protocol: UDP
  - name: dns-tcp
    port: 1053
    protocol: TCP
  - name: metrics
    port: 9153
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: kube-dns
  namespace: kube-system
  annotations:
    prometheus.io/port: "9153"
    prometheus.io/scrape: "true"
  labels:
    k8s-app: kube-dns
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "CoreDNS"
spec:
  clusterIP: {{ dns_ip_addr }}
  ports:
  - name: dns
    port: 53
    targetPort: 1053
    protocol: UDP
  - name: dns-tcp
    port: 53
    targetPort: 1053
    protocol: TCP
  - name: metrics
    port: 9153
    protocol: TCP
