.:53 {
    errors
    health localhost:8091
    ready localhost:8092
    kubernetes {{ dns_domain }} cluster.local in-addr.arpa ip6.arpa {
      endpoint https://{{ kube_apiserver_ip }}:{{ kube_apiserver_port }}
      tls {{ kube_dir }}/ssl/kubernetes.pem {{ kube_dir }}/ssl/kubernetes-key.pem {{ kube_dir }}/ssl/ca.pem
      pods insecure
      upstream
      fallthrough in-addr.arpa ip6.arpa
    }
    prometheus :9153
    forward . /etc/resolv.conf
    cache 30
    loop
    reload
    loadbalance
}
