.:53 {
    errors
    health
    ready
    kubernetes {{ dns_domain }} cluster.local in-addr.arpa ip6.arpa {
      endpoint {{ kube_apiserver_ip }}
      tls /etc/ssl/kubernetes.pem /etc/ssl/kubernetes-key.pem /etc/ssl/ca.pem
      pods insecure
      upstream
      fallthrough in-addr.arpa ip6.arpa
    }
    prometheus :9153
    forward . /etc/resolv.conf
    cache 30
    loop
    reload
    loadbalance
}
