# Managed by Ansible
# etcd environment options
{% if etcd_args is defined %}

# etcd command line arguments
ETCD_ARGS=\
{% for k,v in etcd_args.items() %}
{% if v is sameas true %}
  --{{ k }} {{ "\\" if not loop.last }}
{% else %}
  --{{ k }}={{ v | quote }} {{ "\\" if not loop.last }}
{% endif %}
{% endfor %}
{% endif %}
