[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd \
  --name {{inventory_hostname}} \
  --cert-file={{etcd_dir}}/kubernetes.pem \
  --key-file={{etcd_dir}}/kubernetes-key.pem \
  --peer-cert-file={{etcd_dir}}/kubernetes.pem \
  --peer-key-file={{etcd_dir}}/kubernetes-key.pem \
  --trusted-ca-file={{etcd_dir}}/ca.pem \
  --peer-trusted-ca-file={{etcd_dir}}/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ansible_ssh_host}}:2380 \
  --listen-peer-urls https://{{ansible_ssh_host}}:2380 \
  --listen-client-urls https://{{ansible_ssh_host}}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls https://{{ansible_ssh_host}}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for member in groups['etcd'] %}{{member}}=https://{{hostvars[member].ansible_ssh_host}}:2380{% if not loop.last %},{% endif %}{% endfor %} \
  --initial-cluster-state new \
  --data-dir={{etcd_data_dir}}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target