[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/bin/etcd $ETCD_ARGS
EnvironmentFile=/etc/default/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
